* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.create-resume{
    &__full-resume{
        &__text{
            margin-left: 20%;
            margin-top: 2%;
        }
    }
    &__name{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
        &__warning{
            display: inline-block;
        }
    }
    &__surname{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }

    &__third-name{
        
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
}