* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.create-resume{
    &__full-resume{
        &__text{
            margin-left: 20%;
            margin-top: 2%;
        }
    }
    &__name{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
    &__surname{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }

    &__third-name{
        
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
    &__user-city{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__select{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
    &__data-picker{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__input{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
    &__sex {
        display: flex; 
        align-items: center; 
    
        &__text {
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
    
        &__male-radioButton,
        &__female-radioButton {
            display: flex; 
            align-items: center;
            margin-right: 20px; 
            margin-left: 110px;
    
            &__text {
                display: inline-block;
                margin-left: 10px; 
                font-size: 18px;
            }
    
            &__input {
                display: inline-block;
                width: auto; 
                height: 5vh; 
                border: 2px solid rgba(0, 0, 0, 0.1);
                margin-left: 10px; 
                border-radius: 20px;
                padding-left: 1%;
                font-size: 18px;
            }
        }
    }

    &__citizenship{
        &__text{
            display: inline-block;
            width: 100px;
            margin-top: 2%;
            margin-left: 3%;
            margin-bottom: 3%;
            font-size: 18px;
        }
        &__select{
            display: inline-block;
            width: 40%;
            height: 5vh;
            border: 2px solid rgba(0, 0, 0, 0.1);
            margin-left: 10%;
            border-radius: 20px;
            padding-left: 1%;
            font-size: 18px;
        }
    }
}